{% extends 'base.html.twig' %}

{% block title %}Edition{% endblock %}

{% block body %}


<div class="w-full max-w-md p-8 bg-white border border-green-500 shadow-lg rounded-lg">
    <h1 class = "text-2xl font-bold mb-6 text-center text-green-500">{{ is_create ? 'Ajouter un article' : 'Modifier cet article' }}</h1>
<div class = "text-green-500">
    {{ form_start(form) }}

    <div class="mb-5">
    {{ form_label(form.title, null, {
        label_attr: {
            class: 'block text-sm font-semibold text-green-500 mb-1'
        }
    }) }}

    {{ form_widget(form.title, {
        attr: {
            class: 'w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-400 focus:border-green-400 transition'
        }
    }) }}

    {{ form_errors(form.title) }}
</div>

<div class="mb-5">
    {{ form_label(form.content, null, {
        label_attr: {
            class: 'block text-sm font-semibold text-green-500 mb-1'
        }
    }) }}

    {{ form_widget(form.content, {
        attr: {
            class: 'w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-400 focus:border-green-400 transition'
        }
    }) }}

    {{ form_errors(form.content) }}
</div>

<div class="mb-5">
    {{ form_label(form.article_category, null, {
        label_attr: {
            class: 'block text-sm font-semibold text-green-500 mb-1'
        }
    }) }}

    {{ form_widget(form.article_category, {
        attr: {
            class: 'w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-400 focus:border-green-400 transition'
        }
    }) }}

    {{ form_errors(form.article_category) }}
</div>

<div class="mb-5">
    {{ form_label(form.status, null, {
        label_attr: {
            class: 'block text-sm font-semibold text-green-500 mb-1'
        }
    }) }}

    {{ form_widget(form.status, {
        attr: {
            class: 'w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-400 focus:border-green-400 transition'
        }
    }) }}

    {{ form_errors(form.status) }}
</div>
    



<div  class="px-1 py-2 bg-green-500 text-white rounded-md hover:bg-green-200 focus:outline-none focus:ring-2 focus:ring-red-400 text-center w-40 mx-auto block
" >
    {{ form_row(form.submit) }}
</div>
    {{ form_end(form) }}
</div>
</div>
{% endblock %}