<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}
      {# {% block importmap %}{{ importmap('app') }}{% endblock %} #}
    {% endblock %}
</head>
<body class="bg-white min-h-screen flex flex-col">

    {# Header avec boutons connexion/déconnexion en haut à droite #}
<header class="w-full flex justify-between items-center p-4 bg-white shadow">
    {# Menu à gauche #}
    <nav class="flex-1 flex justify-center ms-4">
        <ul class="flex space-x-4"> 
            <li><a href="{{ path('app_index') }}" class="text-green-500 hover:underline">Accueil</a></li>
            <li><a href="{{ path('app_liste') }}" class="text-green-500 hover:underline">Liste des articles</a></li>
            {% if app.user and (is_granted('ROLE_ADMIN') or is_granted('ROLE_USER')) %}
            <li><a href="{{ path('app_create') }}" class="text-green-500 hover:underline">Créer un article</a></li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('app_category_new') }}" class="text-green-500 hover:underline">Créer une catégorie</a></li>
            {% endif %}
        </ul>
    </nav>

    {# Bouton connexion/déconnexion à droite #}
    <div>
        {% if app.user %}
            <a href="{{ path('app_logout') }}"
               class="px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-200 focus:outline-none focus:ring-2 focus:ring-red-400">
                Déconnexion
            </a>
        {% else %}
            <a href="{{ path('app_login') }}"
               class="px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-200 focus:outline-none focus:ring-2 focus:ring-green-400">
                Connexion
            </a>
            <a href="{{ path('app_register') }}"
                class="px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-600 focus:outline-none focus:ring-2 ms-3 focus:ring-green-400">
                Inscription
            </a>
        {% endif %}
    </div>
</header>

    {# Contenu principal centré #}
    <main class="flex-grow flex items-center justify-center">
        {% block body %}{% endblock %}
    </main>

</body>
</html>
